* {
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero {
    width: 100%;
    height: 450px;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url("../dice-roller/assets/dice-roll-gif-11.gif");
    background-attachment: fixed;
}
.intro {
    text-align: center;
}

.part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dotted blue;
}
.part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
}
.part3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}